
.header{
    color: white;
    font-size: 38px;
    background-color: rgb(240, 170, 170);
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.centre{
    text-align: center;
}

.img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    font-family: Helvetica;
    font-style: bold;
    color: black;
}
