
.header{
    color:#ffffff;
    font-size: 38px;
    background-color: rgb(240, 170, 170);
    text-align: center;
}
.button{
    color: white;
    font-size: 14px;
    background-color: rgb(240, 170, 170);
}